body{
    margin: 0;
    padding: 0;
}
.all-gridd{
    background:#eee;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.post {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    width: 60vw;
    background: #ccc;
    border-radius: 20px;
}
.post p.text{
    margin-top: 0;
}
.post h1{
    margin-bottom: 0;
}
.h-grid{
    grid-area: header;
    background:lightslategray;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
  "home my-page . admin user";
    grid-template-rows: 100px;
}
.index-grid{
    background: transparent;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
  ". . . . . . . . ."
  ". . . h1 h1 h1 . . ."
  ". . . . . . . . ."
  ". . . login . . . . ."
  ". . . . . . . . ."
  ". . . p register . . . ."
  ". . . . . . . . .";
    grid-template-rows:100px auto 50px auto 50px auto 100px;
}
.login{
    grid-area: login;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 
  ". . . user-l . . . . ."
  ". . . . . . . . ."
  ". . . password . . . . ."
  ". . . . . . . . ."
  ". . . submit . . . . .";
    grid-template-rows: auto 30px auto 30px auto;
}
.error{
    margin-top: 200px;
    margin-left: 400px;
    display: block;
    height: 150px;
    width: 700px;
    background: rgb(255, 148, 148);
    text-align: center;
    align-items: center;
    padding-top: 50px;
    border: rgb(59, 59, 59) solid 5px;
    border-radius: 20px;
}
a.home{
    grid-area: home;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a.home:hover{
    background: rgb(98, 112, 126);
}
a.my_page{
    grid-area: my-page;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a.my_page:hover{
    background: rgb(98, 112, 126);
}
.admin{
    grid-area: admin;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
  "admin_only lock";
}
.admin a{
    grid-area: admin_only;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 20px;
}
.admin img{
    grid-area: lock;
    width: 35px;
    height: 35px;
    margin-top: 28px;
}
.admin:hover{
    background: rgb(98, 112, 126);
}
.user{
    color: black;
    grid-area: user;
    margin-top: 40px;
}
.index-grid h1{
    grid-area: h1;
}
.index-grid p{
    grid-area: p;
    color: rgb(104, 104, 104);
    font-size: 15px;
}
.login #user{
    grid-area: user-l;
    border-radius: 10px;
}
.login #password{
    grid-area: password;
    border-radius: 10px;
}
.login #submit{
    grid-area: submit;
    border-radius: 10px;
}
.register{
    grid-area: register;
    margin-top: 13px;
}
.post img{
    width: 200px;
    height: 200px;
    
}
textarea{
     resize: none;
 }